input#menu {
    display: none;
}
.icon {
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 16px;
    width: 24px;
}
label.icon {
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 200;
}
.icon .menu,
.icon .menu::before,
.icon .menu::after {
    background: #9FB1BD;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 20px;
}
.icon:hover .menu,
.icon:hover .menu::before,
.icon:hover .menu::after {
    background: #2b20d1;
}
.icon .menu::before {
    top: -6px;
}
.icon .menu::after {
    top: 6px;
}
#menu:checked + .icon .menu {
    background: transparent;
}
#menu:checked + .icon .menu::before {
    transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
    transform: rotate(-45deg);
}
#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
}
#menu:checked ~ nav {
    width: 200px;
}
